In [1]:
import pandas as pd
import numpy as np
import re

import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem import SnowballStemmer
from nltk.tokenize import TweetTokenizer

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM,SpatialDropout1D
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence
from keras.preprocessing.text import Tokenizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
data=pd.read_csv(r"F:\FYP-II-master\data\training.csv")
data.head()

  class                                               text Unnamed: 2
0    PI  What's the difference between the  iPhone X  a...        NaN
1    no  @ siracusa  just listened to Hypercritical #16...        NaN
2    PI  Same.  IPhone X  won't be bad   https:// twitt...        NaN
3    no  Ive had the iphone 8 plus and  iphone x  and i...        NaN
4    no  “  iphone x  for £150” do i have dickhead writ...        NaN

In [3]:
data.shape

(1683, 3)

In [4]:
data=data.drop(columns=['Unnamed: 2'])

In [5]:
data['class']=data['class'].replace(['Undefined','undefined'],'un')
data=data[data['class']!='un']
data.head(10)

   class                                               text
0     PI  What's the difference between the  iPhone X  a...
1     no  @ siracusa  just listened to Hypercritical #16...
2     PI  Same.  IPhone X  won't be bad   https:// twitt...
3     no  Ive had the iphone 8 plus and  iphone x  and i...
4     no  “  iphone x  for £150” do i have dickhead writ...
5     PI       This  iPhone X  still very sexy a year later
7     PI  If not I'm using my kidney. Omo what is ferrar...
8     PI                           iPhone X 's max for sale
9     no  Someone once told me that.....\n\nBut I've nev...
10    PI    screenshots from the  iphone x  look so clapped

In [6]:
data.shape

(904, 2)

In [7]:
replace_space=re.compile('[/(){}\[\]\|@,;]')
replace_bad_symbol=re.compile('[^0-9a-z #+_]')
Stopwords=set(stopwords.words('english'))

In [8]:
def clean_text(text):
    text=text.lower()
    text=replace_space.sub(' ',text)
    text=replace_bad_symbol.sub('',text)

    text=' '.join(word for word in text.split() if word not in Stopwords)
    return text

data['text']=data['text'].apply(clean_text)
data.head(10)

   class                                               text
0     PI           whats difference iphone x iphone x x max
1     no  siracusa listened hypercritical #16 whole epis...
2     PI  iphone x wont bad https twittercom afuaasam st...
3     no  ive iphone 8 plus iphone x id say iphone 8 plu...
4     no                      iphone x 150 dickhead written
5     PI                     iphone x still sexy year later
7     PI  im using kidney omo ferrari buggati iphone x m...
8     PI                                  iphone x max sale
9     no  someone told thatbut ive never seen ios turned...
10    PI                  screenshots iphone x look clapped

In [9]:
t=Tokenizer(num_words=50000,lower=True)
t.fit_on_texts(data['text'])
x=t.texts_to_sequences(data['text'])
x=sequence.pad_sequences(x,maxlen=250)
x.shape

(904, 250)

In [10]:
data['class']=data['class'].replace(['no','No'],0)
data['class']=data['class'].replace(['Pl','PI','yes','Yes'],1)
data.head(10)

    class                                               text
0       1           whats difference iphone x iphone x x max
1       0  siracusa listened hypercritical #16 whole epis...
2       1  iphone x wont bad https twittercom afuaasam st...
3       0  ive iphone 8 plus iphone x id say iphone 8 plu...
4       0                      iphone x 150 dickhead written
5       1                     iphone x still sexy year later
7       1  im using kidney omo ferrari buggati iphone x m...
8       1                                  iphone x max sale
9       0  someone told thatbut ive never seen ios turned...
10      1                  screenshots iphone x look clapped

In [19]:
y=pd.get_dummies(data['class']).values
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)
print(x_train.shape,x_test.shape)
print(y_train.shape,y_test.shape)
y

(813, 250) (91, 250)
(813, 2) (91, 2)

(91, 2)

In [16]:
model=Sequential()
model.add(Embedding(50000,100,input_length=x.shape[1]))
model.add(SpatialDropout1D(0.2))
model.add(LSTM(100,dropout=0.2,recurrent_dropout=0.2))
model.add(Dense(2,activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

fit=model.fit(x_train,y_train,epochs=5,batch_size=64,validation_split=0.1)

Epoch 1/5
12/12 [==============================] - 10s 514ms/step - loss: 0.6760 - accuracy: 0.5784 - val_loss: 0.6569 - val_accuracy: 0.6220
Epoch 2/5
12/12 [==============================] - 6s 480ms/step - loss: 0.6333 - accuracy: 0.6301 - val_loss: 0.6418 - val_accuracy: 0.6220
Epoch 3/5
12/12 [==============================] - 8s 637ms/step - loss: 0.5922 - accuracy: 0.6560 - val_loss: 0.6126 - val_accuracy: 0.6220
Epoch 4/5
12/12 [==============================] - 8s 666ms/step - loss: 0.4941 - accuracy: 0.8175 - val_loss: 0.6312 - val_accuracy: 0.6951
Epoch 5/5
12/12 [==============================] - 8s 661ms/step - loss: 0.2951 - accuracy: 0.9147 - val_loss: 0.6314 - val_accuracy: 0.7317

In [17]:
acr=model.evaluate(x_test,y_test)

3/3 [==============================] - 0s 67ms/step - loss: 0.4302 - accuracy: 0.7912

In [ ]:
# model=Sequential()
# model.add(Embedding(50000,100,input_length=x.shape[1]))
# model.add(SpatialDropout1D(0.2))
# model.add(LSTM(100,dropout=0.2,recurrent_dropout=0.2))
# model.add(Dense(2,activation='softmax'))
# model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

# fit=model.fit(x_train,y_train,epochs=5,batch_size=64,validation_split=0.1)

In [ ]:
# acr=model.evaluate(x_test,y_test)

In [32]:
# cal=t.texts_to_sequences(test)
cal=sequence.pad_sequences(x,maxlen=250)
pred=model.predict_classes(x_test)
pred=np.reshape(pred,(len(pred),1))
pred.shape

(91, 1)

In [33]:
y=list(y_test)
y2=[]
for i in range(len(y)):
    if y[i][0]==1:
        y2.append(0)
    else:
        y2.append(1)
len(y2)

91

In [35]:
y_true = y2
y_pred = list(pred)
target_names = ['no','yes']
print(classification_report(y_true, y_pred, target_names=target_names))

              precision    recall  f1-score   support

          no       0.89      0.91      0.90        34
         yes       0.95      0.93      0.94        57

    accuracy                           0.92        91
   macro avg       0.92      0.92      0.92        91
weighted avg       0.92      0.92      0.92        91